.navbar{
    background-color: #5a76ef;
    color:rgb(225, 0, 0)
}

.nav ul a{
    list-style-type: none;    
    color: white;
    text-decoration: none;
}
.nav ul a:hover{
    color: rgb(255, 145, 0);
}