.roombox {
  text-align: center;
  padding: 2em;
  background-color: #5a76ef;
  height: 350px;
  max-height: 350px;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.content {
  padding: 2rem;
}